# Sepolia / indexer configuration
CHAIN_ID=11155111
RPC_URL=
PAYROLL_CONTRACT_ADDRESS=0x25a2aa23067B7cF5a991fC56cF76E8BFE03Cc6eC
TOKEN_ADDRESS=
START_BLOCK=9349940
CONFIRMATION_DEPTH=10
BLOCK_BATCH_SIZE=50
POLLING_INTERVAL=2s
DEPLOYMENT_ENVIRONMENT=local
DATABASE_URL=postgresql://postgres:password@127.0.0.1:5432/indexer?sslmode=disable
